/*
 * Diceware String Generator Helper
 * Javascript File
 *
 * Copyright © 2015 Hawke AI
 *
 * Last Updated: 2015-06-26 | JMW
 *
 */

#loader {
	background-color: #555555;
	color: #FFFFFF;
	text-align: center;
	text-shadow: none;
}
#loadcopy, #loadlogo, #loadstatus, #loadversion {
	width: 90%;
	margin-left: 2.5%;
}
#loadcopy {
	position: absolute;
	bottom: 0.5em;
	font-size: 0.7em;
}
#loadlogo {
	position: absolute;
	top: 50%;
	margin-top: -200px;
}
#loadstatus {
	position: absolute;
	bottom: 7em;
	font-size: 0.7em;
	font-style: italic;
}
#loadversion {
	position: absolute;
	bottom: 2.5em;
	font-size: 0.7em;
}

/* #interface, #result, #copy, #clear, #dellast {
	width: 90%;
	margin-left: 2.5%;
	margin-right: 2.5%
} */
#addcaps {
	display: none;
}

input[type="text"], input[type="number"] {
	text-align: center;
}

#result {
	text-align: center;
	font-family: monospace;
	font-weight: bold;
	background-color: #EEEEEE;
	border-radius: 6px;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

#prefs { margin-top: 2em; }
#prefs a { text-decoration: none; }

img.logo {
	float: left;
	margin: 5px 10px 0 10px;
}

.errorbox, .copyalert {
	border: 2px solid #E86F66;
	border-radius: 6px;
	padding: 1em;
	font-weight: bold;
	display: none;
}
.erroractive {
	display: block;
}
.copyalert {
	border: 2px solid #FFE274;
}
.note {
	font-style: italic;
	font-size: 0.9em;
}
